{% block sw_cms_block_my_three_colomns_preview %}
    <div class="sw-cms-preview-my-three-colomns">
        <div class="cms-block-grid">
            <div class="cms-block-column" style="width: 33.33%;"></div>
            <div class="cms-block-column" style="width: 33.33%;"></div>
            <div class="cms-block-column" style="width: 33.33%;"></div>
        </div>
    </div>
{% endblock %}