{% block sw_cms_block_my_three_colomns %}
    <div class="sw-cms-block-my-three-colomns">
        <slot name="col-1"></slot>
        <slot name="col-2"></slot>
        <slot name="col-3"></slot>
</div>
{% endblock %}
